<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>commissioner layout</title>
		<script src="https://code.jquery.com/jquery.js"></script>
  		<link rel="stylesheet" type="text/css" href="assets/style/com_style.css">
  		<script src="assets/logic/commain_logic.js" type="text/javascript"></script>
	</head>
	<body>

		<div id="com_header_box">
			<h1> COMISSIONER LAYOUT </h1>
			<a href="/comse" class="test_jump_button">SETUP</a>
			<a href="/comu" class="test_jump_button">UPDATE</a>
			<a href="/comcr" class="test_jump_button">CREATE</a>
		</div>

		{{{ body }}}
	</body>
</html>

