<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>THIS SHOULD BE FOR PROJECT 2</title>
		<script src="https://code.jquery.com/jquery.js"></script>
  		<link rel="stylesheet" type="text/css" href="assets/style/owner_style.css">
	</head>
	<body>
		<div id="owner_header_box">
			<h1> OWNER LAYOUT </h1>

			<a href="/oer" class="test_jump_button">ROSTER</a>
			<a href="/oww" class="test_jump_button">WAIVERS</a>
			<a href="/omu" class="test_jump_button">MATCHUP</a>
		</div>
		{{{ body }}}
	</body>
</html>
