/*.bench {
	padding:2px;
	margin: 2px;
	border: 1px solid black;
	color: red;
	max-width: 400px;
}*/

/*.active {
	padding:2px;
	margin: 2px;
	border: 1px solid black;
	color: green;
	max-width: 400px;

}*/

body{
	padding: 10px;
}

#waiver_bigbox {
	padding: 0px;
	max-height: 400px;
	overflow: auto;
}


#sortby_team, #sortby_position, #sortby_order {
	margin-right: 8px;
}

#roster .btn, .addMe {
	float: right;
}

.moveToActive, .selectToSwitch{
	background-color:green;
}

.moveToBench, .selectToSwap{
	background-color:red;
}

#header_box {
	background-color: grey;
	text-align: center;
}

#owner_header_box{
/*	color: white;
	background-color: lightgreen;
*/	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}


.color_box_for_test {
	color: lightblue ;
	background-color: darkslategrey;
	text-align: center;
}

.test_jump_button{
	background-color: black;
	color: turquoise;
	/*padding: 2px;*/
}

.test_jump_button:hover {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.position_marker {
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 10px;
	background-color: black;
	color:white;
	float:right;
}

.littleScoreBox{
	background-color: indigo;
	color: lightgreen;
	padding-left: 2px;
	padding-right: 2px; 
}

/*#roster_a_bigbox{
	float:left;
	width: 50%;
}

#roster_b_bigbox{
	float:right;
	width: 50%;
}
*/




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}