<script src="assets/logic/comcr_logic.js" type="text/javascript"></script>

<div id="comcr_bigbox">
	<div class="color_box_for_test">
		<h2> ADD NEW PLAYER TO DATABASE </h2>
	</div>

	<div id="create_bigbox">
		<input id="create_f_name" type="text"> first name
		<br>
		<input id="create_l_name" type="text"> last name
		<br>
		<input id="create_position" type="text"> position
		<br>
		<input id="create_nfl_team" type="text"> nfl team
		<br>
		<input id="create_number" type="number"> number
		<br>
		<button id="create_submit_all">add player</button>

	</div>


</div>