<script src="assets/logic/comse_logic.js" type="text/javascript"></script>

<div id="setupBox">
	<div class="color_box_for_test">
		<h2> COMMISSIONER SETUP </h2>
	</div>

	<input id="comse_username"> username <br>
	<input id="comse_password"> password <br>
	<input id="comse_leaguename"> league name <br>

	<h3> SCORING </h3>
		<a id="comse_oscore_trigger">offense</a>
			<div id="comse_oscore_box">
				<br>
				<input id="comse_pass_td" type="number"> passing td <br>
				<input id="comse_rush_td" type="number"> rushing td <br>
				<input id="comse_rec_td" type="number">  receiving td <br>
				<br>
				<input id="comse_pass_yd" type="number"> # passing yards per 1 point <br>
				<input id="comse_rush_yd" type="number"> # rushing yards per 1 point<br>
				<input id="comse_rec_yd" type="number">  # receiving yards per 1 point<br>  
				<br>
				<input id="comse_ppr" type="number"> points per reception <br>
				<input id="comse_fg" type="number"> points per field goal <br>
				<br>
				<input id="comse_off_fumble" type="number"> points lost per fumble <br>
				<input id="comse_off_int" type="number"> points lost per interception <br>
				<br>
				<input id="comse_tpc" type="number"> two point conversion <br>
			</div>

		<br><a id="comse_dscore_trigger">defense</a>
		<div id="comse_dscore_box">
				<br>
				<input id="comse_tackle" type="number"> points per tackle <br>
				<input id="comse_def_int" type="number"> points per interception <br>
				<input id="comse_sack" type="number"> points per sack <br>
				<input id="comse_def_fumble" type="number"> points per fumble <br>
			</div>

	<br><button id="comse_submit">submit</button>
</div>