<script src="assets/logic/comse_logic.js" type="text/javascript"></script>

<div id="setupBox">
	<div class="color_box_for_test alert alert-dismissible alert-info">
		<h2> COMMISSIONER SETUP </h2>
	</div>

<div  class="btn-group col-xs-offset-1">
    <div class="form-group">
        <label class="control-label">Username</label>
		<input class="form-control" id="comse_username"><br>

		<label class="control-label">Password</label>
		<input class="form-control" id="comse_password"><br>
      	
      	<label class="control-label">League Name</label>		
		<input class="form-control" id="comse_leaguename"><br>
	</div>

	<h3> SCORING </h3>
	<br />
		<a id="comse_oscore_trigger"><h4>Offense</h4></a>
			<div id="comse_oscore_box">
				<br>
				<label class="control-label">Passing TD</label>
				<input class="form-control" id="comse_pass_td" type="number"><br>

				<label class="control-label">Rushing TD</label>
				<input class="form-control" id="comse_rush_td" type="number"><br>

				<label class="control-label">Receiving TD</label>
				<input class="form-control" id="comse_rec_td" type="number"><br>

				<br>
				<label class="control-label"># Passing Yards per 1 Point</label>
				<input class="form-control" id="comse_pass_yd" type="number"><br>

				<label class="control-label"># Rushing Yards per 1 Point</label>
				<input class="form-control" id="comse_rush_yd" type="number"><br>

				<label class="control-label"># Receiving Yards per 1 Point</label>
				<input class="form-control" id="comse_rec_yd" type="number"><br> 

				<br>
				<label class="control-label">Points per Reception </label>
				<input class="form-control" id="comse_ppr" type="number"><br>

				<label class="control-label">Points per Field Goal</label>
				<input class="form-control" id="comse_fg" type="number"><br>

				<br>
				<label class="control-label">Points Lost/Gained per Fumble</label>
				<input class="form-control" id="comse_off_fumble" type="number"><br>

				<label class="control-label">Points Lost/Gained per Interception</label>
				<input class="form-control" id="comse_off_int" type="number"><br>
				
				<br>
				<label class="control-label">Two Point Conversion</label>
				<input class="form-control" id="comse_tpc" type="number"><br>
			</div>

		<br><a id="comse_dscore_trigger"><h4>Defense</h4></a>
		<div id="comse_dscore_box">
				<br>
				<label class="control-label">Points per Tackle</label>
				<input class="form-control" id="comse_tackle" type="number"><br>

				<label class="control-label">Points per Sack</label>
				<input class="form-control" id="comse_sack" type="number"><br>
			</div>

	<br><button id="comse_submit" class="btn btn-primary">Submit</button>
</div>
</div>